.DevicePane {
	border: 2px rgb(32,32,32) solid;
	display: flex;
	align-items: center;
	margin-left: 64px;
}

.DeviceStatus {
	min-width: 12rem;
}

.StatusPlots {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.StatusPlot {
	position: relative;
	margin: 8px;
	padding: 2px;
	border: 2px rgb(32,32,32) solid;
}

.StatusPlotTitle {
	color: grey;
	z-index: 2;
	position: absolute;
	top: 2px;
	right: -2px;
	width: 100%;
	text-align: center;
}
