@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');
body {
	--color-bg: darkgrey;
	--color-text: red;

	font-family: 'Roboto Mono', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	margin: 0;

	background-color: var(--color-bg);
	color: var(--color-text);
}
