.Corrections {
	user-select: none;
	display: flex;
	flex-direction: column;
	color: var(--color-text);
	width: calc(100vw - 32px);
	height: calc(100vh - 32px - 2em);
	border: 2px var(--color-border) solid;
}

.Settings {
	padding: .5em 1em 0 1em;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.Selector select {
	max-width: 8.9em;
	margin-left: .5em;
}

.Graph {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.Footer {
	color: var(--color-text-dark);
	font-size: 14px;
	display: flex;
	bottom: 0;
	padding: 4px;
	gap: 1em;
	align-items: flex-end;
}

.Keybinds {
	padding: 4px;
	display: flex;
	gap: .5em;
}

.Keybind {
	color: var(--color-text);
	border: 2px var(--color-border) solid;
	/* background-color: var(--color-border); */
	padding: 0 6px 0 0;
}

.Key {
	display: inline-block;
	background-color: var(--color-text);
	color: var(--color-bg);
	font-weight: bold;
	padding: 1px 6px 1px 6px;
	margin-right: 6px;
}
