@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');
body {
	--color-bg: black;
	--color-text: grey;
	--color-border: rgb(32,32,32);

	font-size: 16px;
	font-family: 'Roboto Mono', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	margin: 0;

	background-color: var(--color-bg);
	color: var(--color-text);
}

.u-series, .u-value, .u-title {
	font-family: 'Roboto Mono', monospace;
	font-size: 16px !important;
}
