@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');
:root {
	--color-bg: black;
	--color-text: darkgrey;
	--color-text-dark: grey;
	--color-border: rgb(32,32,32);

	font-size: 16px;
	font-family: 'Roboto Mono', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--color-bg);
	color: var(--color-text);
	color-scheme: dark;
}

body {
	margin: 0;
}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.u-series, .u-value, .u-title {
	font-family: 'Roboto Mono', monospace;
}
.u-series {
	margin-right: 8px !important;
}
.uplot {
	/* position: relative; */
	background-color: var(--color-bg);
}
.u-select {
	background-color: var(--color-text) !important;
	opacity: .25;
}
.u-legend {
	height: 32px;
}

input, button, select {
	border: 2px transparent solid;
	background-color: var(--color-border);
	text-align: center;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	outline: none;
}

input:focus-visible, button:focus-visible, select:focus-visible {
	border: 2px var(--color-text) solid;
}

input:invalid {
	border: 2px red solid;
}

button {
	padding: 1px 0.5em 1px 0.5em;
	background-color: var(--color-bg);
	border-color: var(--color-text);
	border-style: outset;
}

button:active {
	border-style: inset;
}

button:hover {
	box-shadow: 0 0 12px var(--color-text);
}

input:focus {
	outline: none;
}

input.Secret {
	width: 8rem;
}
