.DevicePane {
	border: 2px rgb(32,32,32) solid;
	display: flex;
	align-items: center;
}

.DeviceStatus {
	min-width: 12rem;
}

.StatusPlots {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.StatusPlot {
	position: relative;
	margin: 8px 8px 8px 0;
	padding: 2px;
	border: 2px rgb(32,32,32) solid;
}

.StatusPlotTitle {
	z-index: 2;
	position: absolute;
	top: 2px;
	right: -2px;
	width: 100%;
	text-align: center;
}

.Info {
	position: absolute;
	bottom: 8px;
	left: 8px;
}
