.DevicePane {
	text-align: center;
	border: 2px var(--color-border) solid;
	display: flex;
	align-items: center;
}

.DeviceStatus {
	padding: 0 24px 0 32px;
}

.DeviceStatus p {
	margin: 1em;
}

.StatusPlots {
	margin: 8px;
	gap: 8px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: left;
}

.StatusPlot {
	position: relative;
	/* margin: 8px 8px 8px 0; */
	padding: 2px;
	border: 2px var(--color-border) solid;
}

.StatusPlotTitle {
	color: var(--color-text-dark);
	user-select: none;
	z-index: 2;
	position: absolute;
	top: 2px;
	right: -2px;
	width: 100%;
	text-align: center;
}

.Info {
	text-align: center;
	position: absolute;
	color: var(--color-border);
	bottom: 8px;
	left: 8px;
}
