.Subscriptions {
	padding: 1em 2em 1em 2em;
	border: 2px var(--color-border) solid;
}

.Subscriptions h4 {
	margin: 0.5em;
}

.EmailList {
	margin: 0.5em;
	display: flex;
	justify-content: center;
}

.Email {
	display: inline-block;
}

.AddEmail button {
	margin-left: 8px;
}
