body {
	display: grid !important;
	grid-template-columns: 360px 1fr;

	font-family: Courier New;
	font-size: 12pt;
	background-image: url("../stars.jpg");
	background-repeat: repeat;
	background-color: transparent;
	padding-left: 2em;
	color: white;
}

@media (max-width: 1024px) {
	body {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 1600px) {
	body {
		grid-template-columns: 360px 1fr 2fr;
	}
}

p {
	padding-left: 2em;
}

button {
	margin-right: 10px;
	font-family: inherit;
	font-size: 11pt;
	border: 2px black outset;
	color: inherit;
	background-color: rgb(30,30,30);
}

input {
	font-family: inherit;
	font-size: 11pt;
	border: 2px white inset;
	padding: 2px;
	color: inherit;
	background-color: rgb(30,30,30);
}

input:focus {
	border: 2px orange inset;
	outline: none;
}

input:invalid {
	border: 2px red inset;
	outline: none;
}

button:active {
	border-style: inset;
}

button.active {
	background-color: red;
	border-style: inset;
	color: black;
}

button:hover {
	background-color: orange;
	color: black;
}

.ok {
	color: rgb(0, 255, 80);
}

.error {
	color: red;
}

.station-option {
	color: lightblue;
	text-decoration: underline;
}

.station-option:hover {
	cursor: pointer;
	color: orange;
}

.station-option.active {
	font-weight: bold;
	color: red;
}

#sub-options {
	user-select: none;
}

#sub-options label:hover {
	color: orange;
}
