body {
	display: grid !important;
	grid-template-columns: 360px 1fr;

	font-family: Courier New;
	font-size: 12pt;
	background-image: url("../stars.jpg");
	background-repeat: repeat;
	background-color: transparent;
	padding-left: 2em;
	color: white;
}

@media (max-width: 1024px) {
	body {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 1600px) {
	body {
		grid-template-columns: 360px 1fr 2fr;
	}
}

p {
	padding-left: 2em;
}

.ok {
	color: rgb(0, 255, 80);
}

.error {
	color: red;
}

.station-option {
	color: lightblue;
	text-decoration: underline;
}

.station-option:hover {
	cursor: pointer;
	color: orange;
}

.station-option.active {
	font-weight: bold;
	color: red;
}
